rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regla para la colección active_routes
    match /active_routes/{routeId} {
      allow read, write: if request.auth != null && 
        (request.auth.uid == resource.data.userId || 
         request.resource.data.userId == request.auth.uid);
    }
    
    // Regla para la colección rutas
    match /rutas/{routeId} {
      allow read, write: if request.auth != null && 
        (request.auth.uid == resource.data.userId || 
         request.resource.data.userId == request.auth.uid);
    }
    
    // Regla para la colección patinetes
    match /patinetes/{scooterId} {
      allow read, write: if request.auth != null && 
        (request.auth.uid == resource.data.userId || 
         request.resource.data.userId == request.auth.uid);
    }
    
    // Regla para la colección registros
    match /registros/{recordId} {
      allow read, write: if request.auth != null && 
        (request.auth.uid == resource.data.userId || 
         request.resource.data.userId == request.auth.uid);
    }
    
    // Regla para la colección users
    match /users/{userId} {
      allow read, write: if request.auth != null && 
        request.auth.uid == userId;
    }
  }
} 