# Ejemplo de configuración de keystore
# Copia este archivo a keystore.properties y completa los valores
# NUNCA subas keystore.properties al repositorio

storeFile=..//E:/Aplicacion/zipstats-keystore.jks
storePassword=OscarMayer69
keyAlias=zipstats-key
keyPassword=OscarMayer69

